.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('https://i.gifer.com/origin/49/49eb489e1346e5ce3bd67ee92cdf0b2d.gif');
  background-size: contain;
}


.App-header {
  background: rgb(0, 0, 0);
  height: 12vh;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: rgb(186 247 0);
  font-family: 'Cormorant Garamond', serif;
}
.span{
  white-space: nowrap;
}
.home{
  margin-left: 75vw;
  color: #a6fb61;
}


